

.expand-nav {
    @apply max-sm:absolute max-sm:h-[calc(100vh-3.5)] max-sm:top-[100%] max-sm:left-[-100%] transition-all max-sm:w-full max-sm:bg-stone-800
}

.navbar {
    @apply bg-stone-800 fixed w-full top-0 py-2 z-50 text-[#cbcbcb] h-14 transition-all
}

.cart-svg {
    color: #cbcbcb;
}

a:hover, .cart-svg:hover {
    color: white;
}



.MuiButtonBase-root {
    padding: 0 !important;
    color: white !important;
}